absl==0.0
ads==0.12.4
aim==3.19.2
ain==0.0.2
aio_pika==9.4.1
aiodns==3.1.1
aioredis==2.0.1
airbyte_cdk==0.78.1
aleph_alpha_client==7.0.1
alibabacloud_ha3engine_vector==1.1.3
alibabacloud_tea_util==0.3.11
apache_libcloud==3.8.0
apify_client==1.6.4
AppKit==0.2.8
arango==0.2.1
arcgis==2.2.0.3
argilla==1.26.1
arize==7.14.0
arthurai==3.32.3
asgiref==3.8.1
astrapy==0.7.7
atlassian==0.0.0
azure_storage==0.37.0
azureml==0.2.7
bagel==0.3.2
baidubce==0.8.3
banana_dev==6.3.0
Beaker==1.12.1
BeautifulSoup==3.2.2
bibtexparser==1.4.1
bigframes==1.0.0
bilibili_api==9.1.0
blinker==1.7.0
boto3==1.34.74
botocore==1.34.74
brotli==1.1.0
brotlicffi==1.1.0.0
ca_certs_locater==1.0
cassio==0.1.5
cchardet==2.1.7
chromadb==0.4.24
clarifai_grpc==10.2.3
clearml==1.14.4
clickhouse_connect==0.7.5
comet_llm==2.1.2
comet_ml==3.39.2
concurrencytest==0.1.2
ConfigParser==6.0.1
crcmod==1.7
cryptography==42.0.5
curio==1.6
cx_Oracle==8.3.0
Cython==3.0.9
datadog_api_client==2.23.0
db_dtypes==1.2.0
deepeval==0.21.13
defusedxml==0.7.1
dgml_utils==0.3.3
dingodb==0.0.16
disco==1.40.4
Django==5.0.3
dl==0.1.0
docker_py==1.10.6
doctran==0.0.14
docutils==0.20.1
docx2txt==0.8
dogpile.core==0.4.1
duckdb==0.10.1
dynamodb_encryption_sdk==3.2.0
e2b==0.14.12
elevenlabs==1.0.3
email_validator==2.1.1
esprima==4.0.1
explainable_ai_sdk==1.3.3
extract_msg==0.48.4
fake_useragent==1.5.1
fasteners==0.19
feedparser==6.0.11
firebase_admin==6.5.0
fitz==0.0.1.dev2
flashrank==0.2.0
Flask==3.0.2
flytekit==1.11.0
geopandas==0.14.3
gevent_websocket==0.10.1
googlemaps==4.10.0
gptcache==0.1.43
gpudb==7.2.0.4
gql==3.5.0
gradientai==1.8.1
grandalf==0.8
grpc_reflection==1.0.0
grpc_tools==1.0.0
gspread==6.1.0
guardrails==2.0.0
h2==4.1.0
h5py==3.10.0
hdbcli==2.20.15
hiredis==2.3.2
hologres_vector==0.0.9
HTMLParser==0.0.2
httptools==0.6.1
hypothesis==6.99.13
ibm_watsonx_ai==0.2.3
immutabledict==4.2.0
infinity_emb==0.0.31
infinopy==0.0.7
InstructorEmbedding==1.0.1
ipython==8.22.2
ipywidgets==8.1.2
itsdangerous==2.1.2
jaguardb_http_client==3.4.2.3
javelin_sdk==0.2.5
jnius==1.1.0
joblib==1.3.2
jq==1.7.0
jsonpickle==3.0.3
jsonschema==4.21.1
kafka==1.3.5
kdbai_client==1.1.0
keras_nlp==0.8.2
keyring==25.0.0
kfp==2.7.0
kombu==5.3.6
konlpy==0.6.0
label_studio_sdk==0.0.32
langchain_astradb==0.1.0
langchain_experimental==0.0.55
langchain_text_splitters==0.0.1
langchainhub==0.1.15
langkit==0.0.31
lark==1.1.9
librosa==0.10.1
lightning==2.2.1
lingua==4.15.0
listparser==0.20
lit_nlp==1.1
llmonitor==0.0.51
lockfile==0.12.2
markdownify==0.12.1
matplotlib==3.8.3
mediawikiapi==1.2
metal_sdk==2.5.1
modelscope==1.13.3
motor==3.4.0
msal==1.28.0
mtrand==0.1
mwparserfromhell==0.6.6
mwxml==0.3.3
nest_asyncio==1.6.0
networkx==3.2.1
newspaper==0.1.0.7
nltk==3.8.1
nlu==5.3.0
nomic==3.0.17
nucliadb_models==2.45.0.post373
nucliadb_protos==2.45.0.post373
numarray==1.5.1
Numeric==24.2
numexpr==2.9.0
O365==2.0.34
objgraph==3.6.1
obs==0.0.0
oci==2.125.0
odps==3.5.1
openapi_pydantic==0.4.0
optimum==1.18.0
ordereddict==1.1
outcome==1.3.0.post0
PasteScript==3.5.1
pdf2image==1.17.0
pdfminer==20191125
pdfplumber==0.11.0
pickle5==0.0.12
Pillow==10.2.0
pinecone_text==0.9.0
polars==0.20.17
praw==7.7.1
promptlayer==0.5.3
psychicapi==0.8.4
pyairtable==2.3.3
pyarrow==15.0.2
pycryptodome==3.20.0
pydantic_core==2.17.0
pydoctor==23.9.1
pydub==0.25.1
pyepsilla==0.3.5
pygraphviz==1.12
PyInstaller==6.5.0
pymilvus==2.4.0
pymongo==4.6.3
pyodide==0.0.2
pyOpenSSL==24.1.0
pyowm==3.3.0
pypdf==4.1.0
PyPDF2==3.0.1
pypdfium2==4.28.0
pyspark==3.5.1
pysqlcipher3==1.2.0
pysrt==1.1.2
pytesseract==0.3.10
pytest==8.1.1
python-decouple==3.8
python_magic==0.4.27
pyTigerGraph==1.5.2
pytube==15.0.0
pytz==2024.1
pyu2f==0.1.5
qcloud_cos==3.3.6
qdrant_client==1.8.2
qianfan==0.3.7
railroad==0.5.0
rank_bm25==0.2.2
rapidfuzz==3.7.0
rapidocr_onnxruntime==1.3.15
ray==2.10.0
rdflib==7.0.0
reportlab==4.1.0
rockset==2.1.1
rspace_client==2.5.0
runhouse==0.0.21
scipy==1.12.0
selenium==4.19.0
sentence_transformers==2.6.1
setproctitle==1.3.3
setuptools_scm==8.0.4
shellingham==1.5.4
simplejson==3.19.2
simsimd==4.2.1
slack_sdk==3.27.1
snowflake==0.7.0
socksio==1.0.0
sodapy==2.2.0
spacy==3.7.4
speechkit==2.2.2
Sphinx==7.2.6
sqlalchemy_file==0.6.0
sqlcipher3==0.5.2
sqlite_vss==0.1.2
stackapi==0.3.0
steamship==2.17.34
steamspypi==1.1.1
svglib==1.5.1
telethon==1.34.0
tensorboard_plugin_profile==2.15.1
tensorboardX==2.6.2.2
tensorflow_io==0.36.0
tensorflow_text==2.16.1
text_generation==0.7.0
textractor==0.1.2
textstat==0.7.3
thirdai==0.7.36
thread==1.1.1
threadpoolctl==3.4.0
tigrisdb==1.0.0b6
tiktoken==0.6.0
timescale_vector==0.0.4
torchdata==0.7.1
tree_sitter==0.21.3
tree_sitter_languages==1.10.2
trove_classifiers==2024.3.25
trubrics==1.6.2
tweepy==4.14.0
twine==5.0.0
ujson==5.9.0
unittest2==1.1.0
uwsgi==2.0.24
vearch_cluster==0.0.2
watchgod==0.8.2
wcwidth==0.2.13
webapp2==2.5.2
websocket_client==1.7.0
Werkzeug==3.0.1
whylogs==1.3.28
wikibase_rest_api_client==0.1.3
wmi==1.5.1
wolframalpha==5.0.0
xlrd==2.0.1
xmlrpclib==1.0.1
xmltodict==0.13.0
yfinance==0.2.37
youtube_search==2.1.2
youtube_transcript_api==0.6.2
yt_dlp==2024.3.10
zep_python==1.5.0
zstandard==0.22.0
